iframe{
	border-width: 0px;
	border-style: none;
	width: 100%;
	height: 100%;
	min-height: 800px;
}
#domain{
	max-width:912px;
	margin:auto;
	width:100%;
}
#top{
	background-color:beige;
	/* background:url("../images/head_background_a.jpg"); */
	height:150px;
	overflow: hidden;
	background-size: 6%;
}
#menu_wrapper{
	opacity:0.7;
	/* background-color: gainsboro; */
	background-color: azure;
	margin-top: 106px;
}
#menu{
	height:35px;
	padding-left: 80px;
}
#menu .current{
	background-color:#9D3494;
}
#menu .item{
	font-size: 100%;
	float:left;
	margin-right: 40px;
	font-family: 微软雅黑;
	/* margin-top: 6px; */
	height:35px;
	color: darkgreen;
	font-weight: bold;
	padding-left: 15px;
	padding-right: 15px;
}
#menu .item:hover{
	cursor:pointer;
	background-color:yellow;
}
#menu .item span{
		margin-top: 6px;
		float: left;
}
#main{
	 min-height: 800px;
	background-color: ghostwhite;
	margin-top: 20px;
	font-family: 微软雅黑;
}